@import "variables";

body {
    margin: 0;
    background-color: $base03;
    color: $base0;
    font-family: 'Fira Code', monospace;

    #root {
        max-width: 500px;
        margin: auto;
        padding: 1rem;
    }
}

p {
    text-align: justify;
}

a {
    color: $blue;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover:not(.active) {
        background-color: $base02;
    }

    &.active {
        color: $base1;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $base1;
}
