<h1>Pages</h1>
<ul>
    {{#each collections.pages}}
        <li>
            {{#if (equals permalink ../permalink)}}
                <a class="active">{{title}}</a> (current)
            {{else}}
                <a href="{{permalink}}">{{title}}</a>
            {{/if}}
        </li>
    {{/each}}
</ul>
<hr/>
