<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
<div id="root">
    <header>
        {{> pages}}
        <h1>Posts</h1>
        <ul>
            {{#each collections.posts}}
                <li>
                    <a href="{{permalink}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        <hr/>
    </header>
    <main>
        <h1>{{title}}</h1>
        {{{content}}}
    </main>
</div>
</body>
</html>
