<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
<main>
    <h1>Pages</h1>
    {{#each collections.pages}}
        <li>
            <a href="{{this.permalink}}">{{this.title}}</a>
        </li>
    {{/each}}
    <hr/>
    <h1>{{title}}</h1>
    {{{content}}}
</main>
</body>
</html>
